.jumbotron {
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #919988, #97a8bb, white);
  color: white;
}

.jumbotron h1 h2 {
  color: white;
}

.navbar-dark, .site-footer {
  background-color: grey;
  color: white;
}

.nav-link {
  color: #FFF;
}
.nav-link:hover {
   color: #00F
}

.photo {
  
  width: 500px;
}

.footer-link {
 color: white; 
}

h4 {
  color: grey;
}

.btn-social-icon {
  margin-bottom: .25rem;
}